<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moje Rezervace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body class="secondary-page">

<div class="base">

    <div class="heading">
        <span>MOJE REZERVACE</span>
    </div>
    <div class="block reservationsBlock">

        <form class="block reservationsUser" th:each="reservation : ${reservations}" action="/user-reservation-detail" onclick="this.submit();" method="get">
            <div style="display: flex">
                <input type="text" th:value="${reservation.id}" style="display: none" name="reservationId">
                <input type="text" th:value="${reservation.room.name}" style="display: none" name="roomName">
                <div class="roomImage roomImageSmall" th:classappend="${reservation.room.name}">
                </div>
                <div class="roomData">
                    <div class="roomName">
                        <span th:text="${reservation.room.name}"></span>
                    </div>
                    <div class="roomPrice">
                        <span th:text="${reservation.room.price}"></span> Kč
                    </div>
                </div>
            </div>
            <input type="text" th:value="${'Číslo rezervace: ' +reservation.id}" readonly>
            <div style="display: flex">
                <span class="resState">Stav rezervace:</span>
                <div class="reservationStateUser">
                    <label id="rejectedL" class="checkmark">
                        <input id="rejected" type="radio" name="state" value="REJECTED" th:checked="${reservation.state} == REJECTED" disabled >
                    </label>
                    <label id="pendingL" class="checkmark">
                        <input id="pending" type="radio" name="state" value="PENDING" th:checked="${reservation.state} == PENDING" disabled >
                    </label>
                    <label id="acceptedL" class="checkmark">
                        <input id="accepted" type="radio" name="state" value="ACCEPTED" th:checked="${reservation.state} == ACCEPTED" disabled >
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="navButtons">
        <form  th:action="@{/logout}" method="post">
            <button class="block smallButton" type="submit">Odhlásit se</button>
        </form>
        <a href="/available-rooms-filter">
            <div class="block smallButton" style="margin-left: 21px;">
                <span style="top: unset;">Nová Rezervace</span>
            </div>
        </a>
    </div>

</div>

</body>
</html>